<!-- content heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <%- messages() %>
<form class="login">
    <fieldset>
        <label for="email">Email: <input type="email" name="account_email" id="email" required placeholder="someone@gmail.com"></label>
        <label for="password">Password: <input type="password" name="account_password" id="password" required></label>
        <button type="submit">Login</button>
        <p>No account? <a href="../account/register">Sign-up</a></p>
    </fieldset>
</form>