@media screen and (min-width: 1000px) {
    .delorean {
        bottom: 35%;
        left: 2%;
        width: 30%;
        height: auto;
        font-size: large;
    }
    .delorean img {
        width: 60%;
    }

    .hero {
        grid-column: span 2;
    }

    .hero > img {
        width: 80%;
    }

    .upgrades {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .upgrades figure img {
        width: 65%;
        padding: 40px;
    }

    .review {
        grid-row: 4/5;
        grid-column: 2/3;
        line-height:5rem ;
        font-size: large;
    }

    #item {
        display: grid;
        grid-template-areas:
            "hr hr"
            "img productInfo"
            "desc desc";
        line-height: 5vh;
    }

    #item .productInfo {
        margin-left: -30%;
    }

    #inv-display {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        justify-items: center;
        align-items: center;
    }
}